extends ../layout.pug

block content
  main
    section
      .popup.popup--new-publication.popup--anti
        .new-publication
          form(action='/articles/edit/' + id method='POST' enctype='multipart/form-data')
            input(type='hidden' name="_csrf" value=csrfToken)
            div(class='new-publication__header')
              h1 Новая публикация
              div(class='new-publication__date-form')
                h3 Дата публикации
                div(class='new-publication__date-form-division')
                  div(class='new-publication__date-block')
                    label(for='new-publication-date' aria-label='Календарь')
                    input#new-publication-date(type='text' name='date' placeholder='2019-03-21' value=article.createdAt)
                    +insertOneMessage(validationMessage, 'date')
              button(type='submit' class='new-publication__button button button--colored') Опубликовать
            a(class='popup__button button button--popup-close' aria-label='Закрыть окно')
              | Закрыть
              | окно
            div(class='new-publication__form form')
              div(class='form__wrapper form__wrapper--intro')
                div(class='form__field')
                  label
                    input(type='text' name='title' placeholder='Заголовок' value=article.title required='')
                    +insertOneMessage(validationMessage, 'title')
                div(class='form__field form__field--post-image')
                  label
                    input#image-name-field(type='text' name='img' value=article.picture placeholder='Фотография' readonly='')
                    +insertOneMessage(validationMessage, 'picture')
                  div(class='form__image-loader form__image-loader--publication')
                    label
                      input.visually-hidden(type='file' name='upload')
                      | Обзор
                  button.button.button--transparent Удалить
                div(class='new-publication__category-wrapper')
                  each category, idx in categories
                      div(class='new-publication__checkbox new-publication__checkbox--auto')
                        input(id=`checkbox-auto-${idx}`
                          type='checkbox'
                          name='category'
                          value=category.id
                          checked=article.categories.includes(category.id)
                        )
                        label(for=`checkbox-auto-${idx}`) #{category.name}
                  a(class='new-publication__form-link button button--transparent' href='/category') Добавить категорию
                  +insertOneMessage(validationMessage, 'categories')
              div(class='form__wrapper form__wrapper--text')
                div(class='form__field form__field--publication-text')
                  label
                    textarea(rows='5' name='announce' placeholder='Анонс публикации') #{article.announce}
                    +insertOneMessage(validationMessage, 'announce')
                div(class='form__field form__field--publication-text')
                  label
                    textarea(rows='10' name='fullText' placeholder='Полный текст публикации') #{article.fullText}
                    +insertOneMessage(validationMessage, 'fullText')
              +insertErrorMessage(validationMessage)
