extends ../layout.pug

block content
  main
    section.post
      h1.visually-hidden Пост
      section.post__content
        h2.visually-hidden Основное содержание
        .post__wrapper
          .post__head
            a.post__backwards.button.button--backwards(href='/') Назад
            time.post__date(datetime='2019-03-21T20:33')
              +formatDate(article.createdAt, true)
            h2.post__title.title.title--main #{article.title}
            ul.post__themes.themes
              each category in filtredCategories
                li.themes__item
                  a.themes__item-link(href=`/articles/category/${category.id}`)
                    | #{category.name}
                    sup #{category.count}
                  button.themes__remove-btn(type='button') Удалить категорию
          if article.picture
            .post__picture
              img(src=article.picture ? `/img/${article.picture}` : '/img/sea-fullsize@1x.jpg' alt='пейзаж море, скалы, пляж')
          .post__text
            h3 #{article.title}
            p
              | #{article.announce}
              | #{article.fullText}
      .post__wrapper.post__wrapper--comments
        section.post__comments.comments
          if article.comments.length
            h2.comments__title.title.title--middle Комментарии
            ul.comments__list
              each comment in article.comments
                li.comments__comment
                  .comments__avatar.avatar
                    if comment.users.avatar
                      img(src=`/img/${comment.users.avatar}`, alt=comment.users.name)
                    else
                      img()
                  .comments__text
                    .comments__head
                      p(id=comment.id) #{comment.users.name} #{comment.users.surname} •
                      time.comments__date(datetime='2019-03-21T20:33')
                        +formatDate(comment.createdAt)
                    p.comments__message #{comment.text}
          else
            h2.comments__title.title.title--middle Комментарии отсутствуют
          if user
            .comments__footer.comments__footer--user
              form(action='/articles/' + article.id method='POST')
                input(type='hidden' name="_csrf" value=csrfToken)
                .comments__avatar.avatar
                  if user.avatar
                    img(src=`/img/${user.avatar}`, alt=user.name)
                  else
                    img()
                label
                  textarea(rows='1' name='message' placeholder='Присоединиться к обсуждению')
                button.comments__button.button.button--colored(type='submit') Опубликовать
              if validationMessage
                p.comments__error
                  +insertOneMessage(validationMessage, 'text')
          else
            .comments__footer.comments__footer--visitor
              button.comments__button.button.button--colored(type='submit' onClick="location.href='/login'") Войти
              .comments__registration
                p.text.text--signature
                  b.title.title--small Регистрация
                  | Чтобы присоединиться к переписке нужно зарегистрироваться

