extends layout.pug

block content
  main.main-page.main-page--padding
    section.main-page__category.category
      h1.category__title Категории
      .category__add-form
        form(action='/category' method='POST')
          input(type='hidden' name='_csrf' value=csrfToken)
          input#add-form-add-category(type='text' name='add-category' placeholder='Новая категория')
          label(for='add-form-add-category')
            span.visually-hidden Добавить категорию
          button.category__button.button.button--category(type='submit') Добавить
        +insertErrorMessage(validationMessage)
      ul.category__list
        each category, idx in categories
          li.category__list-item
            form(action='/category/' + category.id method='POST')
              input(type='hidden' name='_csrf' value=csrfToken)
              input(id=`modify-form-category-${category.id}` type='text' name='category-name' value=category.name)
              label(for=`modify-form-category-${category.id}`)
                span.visually-hidden Редактировать категорию
              button.category__button.button.button--category(type='submit') Сохранить
            div
              form(action=`/category/${category.id}/delete` method='POST')
                input(type='hidden' name='_csrf' value=csrfToken)
                button.category__button.button.button--category(type='sumbmit') Удалить


