extends layout.pug

block content
  main.main-page.main-page--padding
    section.main-page__publication.publication
      h1.publication__title Комментарии
      ul.publication__list

          each comment,idx in comments
            li.publication__list-item
              .publication__header
                if comment.users.avatar
                  img.publication__list-image(src=`/img/${comment.users.avatar}` width='20' height='20' alt='Аватар пользователя')
                b.publication__list-name #{comment.users.name} #{comment.users.surname}
                time.publication__item-time(datetime=`${comment.createdAt}`)
                  +formatDate(comment.createdAt)
              each article in articles
                if article.id === comment.articleId
                  a.publication__item-text(href=`/articles/${article.id}`) #{comment.text}
                  p.publication__text-strong #{article.title}
                  form(action='/my/comments/' + comment.id method='POST')
                    input(type='hidden' name='_csrf' value=csrfToken)
                    input(type='hidden' name='articleId' value=article.id)
                    button.publication__button.button.button--close-item(type='submit')
                      span.visually-hidden Закрыть строку списка
